// Greys
$white: #fff;
$light-gray: #E1E1E1;
$gray: #999999;
$black: #262626;

// Primary & secondary
$yellow: #FFB13B;
$orange: #FF8B1F;
$purple: #7154C3;
$purple-dark: #503699;

// Functional colors
$red: #F24257;
$green: #BFD631;




