<h2>Show Bookings</h2>
<% @bookings.each do |booking| %>
  <p><%= booking.event.title %> </p>
  <p><%= booking.event.date %> </p>
  <%=  link_to "Review", new_booking_review_path(booking.id)%>
<% end %>
