<ul class="nav border-bottom mb-4" id="myTab" role="tablist">
  <li class="nav-item pr-3">
    <a class="nav-link active pb-3" id="hosting-tab" data-toggle="tab" href="#hosting" role="tab" >Hosting</a>
  </li>
  <li class="nav-item pr-3">
    <a class="nav-link pb-3" id="attending-tab" data-toggle="tab" href="#attending" role="tab" >Attending</a>
  </li>
</ul>