<div class="container my-5">
  <div class="row">
    <!-- User Profile -->
    <div class="col-sm-12 col-md-12 col-lg-4">
      <%= render 'avatar' %>
    </div>
    <div class="col-sm-12 col-md-12 col-lg-8">
      <!-- navigation -->
      <%= render 'sub_nav_bar' %>
      <div class="tab-content" id="myTabContent">
        <div class="tab-pane fade show active" id="hosting" role="tabpanel" aria-labelledby="hosting-tab">
          <!-- Hosting -->
          <%= render 'hosting_events_info' %>
        </div>
        <div class="tab-pane fade" id="attending" role="tabpanel" aria-labelledby="attending-tab">
          <!-- Attending -->
          <%= render 'attending_events' %>
        </div>
      </div>
    </div>
  </div>
</div>