<h1>Events#index</h1>
<% @events.each do |event| %>
  <h4>
    <%= link_to event.title, event_path(event.id)%>
  </h4>
<% end %>

<!-- only signed in user can create an event -->
<% if user_signed_in? %>
  <%= link_to "new", new_event_path%>
<% end %>
