<h1>Cook.Share.Love</h1>
<h2>Latest events</h2>
<% @events.each do |event| %>
  <h4>
    <%= link_to event.title, event_path(event.id)%>
  </h4>
  <p><%= event.location %></p>
  <%= cl_image_tag event.image%>
<% end %>


<!-- only signed in user can create an event -->
<% if user_signed_in? %>
  <%= link_to "new", new_event_path%>
<% end %>

