.btn-yellow {
  background-color: $yellow;
  border-radius: 4px;
  height: 48px;
  color: $white;
  font-weight: 700;
  padding-left: 30px;
  padding-right: 30px;
  &:hover {
    color: $white;
    background-color: $yellow-dark
  }
}
