.container {
  padding-bottom: 140px 0;
  .search-container {
    left: 10%;
    top: 50%;
  }
  h2 {
    color: $white;
  }
  p {
    color: $white;
    font-size: 18px;
    width: 400px;
  }
  .form-control {
    height: 45px;
    width: 280px;
    border: none;
    border-radius: 6px 0 0 6px;
  }
  .btn {
    border-radius: 0 6px 6px 0;
  }
}

.carousel-item {
height: 461px;
object-fit: cover;
}

.form-group {
  margin-bottom: 0rem;
}
