.container {
  position: relative;
}
.search-container {
  // padding-bottom: 140px 0;
  // left: 10%;
  // top: 35%;
  position: absolute;
  top: -300px;
  h2 {
    color: $white;
  }
  p {
    color: $white;
    font-size: 18px;
    width: 400px;
  }
  .form-control {
    height: 45px;
    width: 280px;
    border: none;
    border-radius: 6px 0 0 6px;
  }
  .btn {
    border-radius: 0 6px 6px 0;
  }
}

.carousel-item img{
  height: 461px;
  width: 100%;
  object-fit: cover;
}

.form-group {
  margin-bottom: 0rem;
}
