.container {
  position: relative;
}
.search-container {
  position: absolute;
  top: -300px;
  h2 {
    color: $white;
    text-shadow: 1px 1px 8px #A9A9A9;
  }
  p {
    color: $white;
    font-size: 18px;
    width: 400px;
    text-shadow: 1px 1px 1px #808080;
  }
  .form-control {
    height: 45px;
    width: 280px;
    border: none;
    border-radius: 6px 0 0 6px;
  }
  .btn {
    border-radius: 0 6px 6px 0;
  }
}

.carousel-item img{
  height: 461px;
  width: 100%;
  box-shadow: 10px 10px 5px #ccc;
  object-fit: cover;
}

.form-group {
  margin-bottom: 0rem;
}
