.navbar-lewagon {
  justify-content: space-between;
  height: 68px;
  .navbar-brand {
    color: $white;
    margin-bottom: 0;
    margin-top: 5px;
  }
  a {
    color: $white;
  }
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}

.navbar-lewagon .dropdown a {
  color: $black;
}
